* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 
}
body {
  display: flex;
  justify-content: center; 
  align-items: center;    
  min-height: 100vh;       
  background-color: #4ee6c2; 
  font-family: sans-serif;
   background-image: url('C:\Users\Luis\Desktop\FullStack\FRONT_END\src\assets\Fundo.jpg'); /* Caminho da sua imagem */
  background-size: cover;                  /* Faz a imagem cobrir toda a tela */
  background-position: center;             /* Centraliza a imagem */
  background-repeat: no-repeat;            /* Impede que a imagem se repita */
  background-attachment: fixed;
}
.conteiner{
    background-color: white;
    width: 400px;
    height: 400px;
    border-radius: 8px;
    align-items: center;
 
     display: flex;
    flex-direction: column;
    justify-content: center;
}
.conteiner h1{
   text-align: center;
}

.campo_form {
    align-self: center;
    background-color: white;
    border-radius: 8px;
   justify-self:center;
   padding-top: 20px;
   border-radius: 10px;
   
}
form {
    display: flex;
    flex-direction: column;
    align-items: center; 
    width: 100%;
}
.conteiner .botao{
    align-content: center;
}
.botaologin {
    width: 50%;           
    height: 45px;           
    background-color: black; 
    color: white;           
    border: none;           
    border-radius: 8px;     
    font-size: 16px;        
    font-weight: bold;       
    cursor: pointer;        
    margin-top: 20px;        
    transition: background 0.3s ease; 
  
    
}



.botao:active {
    transform: scale(0.98);    
}
.Cadastro{
    text-align: center;
    padding-top: 20px;
}
.icon{
    padding-right: 5px;
    width: 25px;
    height: 25px;
    padding-top: 10px;
}