.cabecalho {
    display: flex;
    align-self: self-start;
    justify-content: flex-end;
    align-items: center;       
    background-color: white;
    width: 100%;              
    height: 80px;              
    padding: 0 20px;          
    box-sizing: border-box;   
    box-shadow: 0 1px 3px rgba(0,0,0,0.1);
     border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    position: fixed; 
    top: 0;
    z-index: 1000;
    gap: 10px;
}
.Tela {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: stretch; 
    min-height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    background-color: #4ee6c2; 
}

.texto{
    text-align: end;
    padding-top: 20px;
}
.botao {
    width: 10%;           
    height: 40px;           
    background-color: black; 
    color: white;           
    border: none;           
    border-radius: 8px;     
    font-size: 16px;        
    font-weight: bold;       
    cursor: pointer;        
    margin-top: 20px;        
    transition: background 0.3s ease; 
    
  
    
}
.botao2{
    width: 20%;           
    height: 40px;           
    background-color: black; 
    color: white;           
    border: none;           
    border-radius: 8px;     
    font-size: 16px;        
    font-weight: bold;       
    cursor: pointer;        
    margin-top: 20px;        
    transition: background 0.3s ease; 
    
  
    
}
   .quadros {
    background-color: white; 
    color: black;
    width: 400px;           
    height: 150px;         
      min-height: 200px;
      align-items: center;
    margin-top: 100px;     
    margin-left: 20px;
    border-radius: 12px;
    align-content: center;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;   
    align-items: center;      
    justify-content: center;  
    gap: 10px;
  
}
.quadros h1 {
    margin: 0;              
    font-size: 24px;
    text-align: center;
}

.divisor {
    width: 400px;             
    height: 4px;             
    background-color: #4ee6c2; 
    border-radius: 2px;
    margin-top: 5px;       
}
.acoes-quadro {
  display: flex;
  gap: 15px; 
  padding-top: 10px;
   display: flex;
  justify-items: center;
  justify-content: center; 
  align-items: center;  
}
.quadros li {
    width: 100%;
    text-align: center; /* Centraliza o texto dentro da li */
    margin-bottom: 15px;
}
.quadros ul {
    list-style: none; 
    padding: 0;      
    margin: 0;      
    width: 100%;     
    display: flex;
    flex-direction: column;
    align-items: center;
}


.acoes-quadro button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.1rem;
  transition: transform 0.2s;
 
}

.acoes-quadro button:hover {
  transform: scale(1.2); 
}
.Add{
   size: 80%;
}