.cabecalho {
    display: flex;
    align-self: self-start;
    justify-content: flex-end;
    align-items: center;       
    background-color: white;
    width: 100%;              
    height: 80px;              
    padding: 0 20px;          
    box-sizing: border-box;   
    box-shadow: 0 1px 3px rgba(0,0,0,0.1);
     border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    position: fixed; 
    top: 0;
    z-index: 1000;
    gap: 10px;
}
.Tela {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: stretch; 
    min-height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    background-color: #4ee6c2; /* Sua cor de fundo original */
}

.texto{
    text-align: end;
    padding-top: 20px;
}
.botao {
    width: 10%;           
    height: 40px;           
    background-color: black; 
    color: white;           
    border: none;           
    border-radius: 8px;     
    font-size: 16px;        
    font-weight: bold;       
    cursor: pointer;        
    margin-top: 20px;        
    transition: background 0.3s ease; 
    
  
    
}
.botao2{
    width: 20%;           
    height: 40px;           
    background-color: black; 
    color: white;           
    border: none;           
    border-radius: 8px;     
    font-size: 16px;        
    font-weight: bold;       
    cursor: pointer;        
    margin-top: 20px;        
    transition: background 0.3s ease; 
    
  
    
}