services:
  # Banco de Dados
  db:
    image: postgres:16-alpine
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: meudb
    volumes:
      - pgdata:/var/lib/postgresql/data
    networks:
      - app-network

  # Backend
  api:
    build: ./backend
    ports:
     - "3000:3000"
    depends_on:
      - db
    environment:
      DATABASE_URL: postgres://user:password@db:5432/meudb
    networks:
      - app-network

  # Frontend
  web:
    build: ./frontend
    ports:
      - "80:80"
    depends_on:
      - api
    networks:
      - app-network

networks:
  app-network:
    driver: bridge

volumes:
  pgdata: